@inject NavigationManager NavManager
@inject AuthenticationService AuthService

<EditForm Model="model" OnValidSubmit="Login">
    <div class="d-flex">
        <InputText class="form-control me-1" id="email" placeholder="Email" @bind-Value=@model.Email></InputText>
        <InputText class="form-control me-1" id="password" type="password" placeholder="Password" @bind-Value=@model.Password></InputText>
        <button id="sumbit" class="btn btn-success me-2">Login</button>
    </div>




</EditForm>

<EditForm Model="model" OnValidSubmit="RegisterUser">

    <button id="register" class="btn btn-primary">Register</button>

</EditForm>



@code {
    private AuthenticationUserModel model = new();

    private async Task Login()
    {
        var user = await AuthService.Login(model);

        if (user is not null) NavManager.NavigateTo("/", true);
    }
    private async Task RegisterUser()
    {
        NavManager.NavigateTo("/register");
    }
}
