<div class="flex-fill">
    @foreach (var sect in Course.Sections)
    {
        <div>
            @sect.Title
        </div>
        <div>
            @if (sect.Videos != null && sect.Videos.Count > 0)
            {
                <SectionVideos Videos="@sect.Videos" />
            }
        </div>
    }
</div>
@code {
    [Parameter] public CourseDTO Course { get; set; } = new();
}
