<div class="flex-fill">
    @if (Course.Sections != null)
    {
        @foreach (var sect in Course.Sections)
        {
            <div>
                @sect.Title
            </div>
            <div>
                @if (sect.Videos != null && sect.Videos.Count > 0)
                {
                    <SectionVideos Videos="@sect.Videos" />
                }
            </div>
        }
    }
</div>
@code {
    [Parameter] public CourseDTO Course { get; set; } = new();
}
