<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Course Id</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sectionModel in Model)
        {
            <tr>
                <td>@sectionModel.Title</td>
                <td>@sectionModel.CourseId</td>
                <td>
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-outline-primary me-1" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Edit,sectionModel.Id)))">Edit</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(()=> OnClick.InvokeAsync(new ClickModel(PageType.Delete,sectionModel.Id)))">Delete</button>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>






@code {
    [Parameter] public List<SectionDTO> Model { get; set; } = new();
    [Parameter] public EventCallback<ClickModel> OnClick { get; set; }
}
