<div class="flex-fill">
    @foreach (var sect in Course.Sections)
    {
        <div>
            @sect.Title
        </div>
        @if (sect.Videos is not null)
        {
            <SectionVideos Videos="@sect.Videos" />
        }
    }
</div>
@code {
    [Parameter] public CourseDTO Course { get; set; } = new();
}
